*{
    padding: 2px;
    box-sizing: border-box;
    max-width: 1200px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.pare{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.header{
    background: url(images/header.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    align-items: center;
    height: auto;
    margin-bottom: 10px; 
    display: flex;
    flex-flow:column wrap;
}
.menu{
     display: flex;
     flex-flow: row nowrap;
     align-content: center;
     position: relative;
     animation: animacio 5s;
}

.logo img{
    margin-right: 100px;
    width: 60px;
    height: auto;
} 
.nav{
    flex: 5 1 auto;
    height: 150px;
}
.nav a{
    color: rgb(165, 163, 163);
    margin-bottom: 10px;
    text-decoration: none;
}
.separacio{
    padding: 25px;
}
.alinear{
    vertical-align: middle;
}
.social{
    flex: 1 1 auto;
    margin-left: 100px;
}
.nav a:hover{
    color: black;
}
.logos{
    width: 30px;
    height: auto;
    filter:grayscale(100%);
}   
.logos:hover{
    filter:grayscale(0%);
}
.principal-text{
    width: 100%;
    height: 30%;
    
    background: rgb(226, 224, 224, 0.3);
}
.principal-text h1{
    color:rgb(236, 139, 47 , 0.7) ;
    text-align: center;
    position: relative;
    animation: textanimat 3s;
}
img {
    max-width: 100%; 
    height: auto; 
}
.section{
    display: flex;
}
.marc-foto{
    position: relative;
    display: inline-block;
}
.text-foto{
    position: absolute;
    top: 85%;
    left: 5%;
    font-size: 16px;
    color: yellow;
}
.articles{
    display: flex;
    flex-flow: wrap;
    background:rgb(218, 216, 216) ;
}
.article{
    background:white;
    margin: 5px;
    flex: 40%;         
}
.miniheader{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    background: salmon;
    color: white;
}
.text{
    display: flex;
}
.separacio{
   text-align: left;
}
.article a{
    color: rgb(160, 160, 160);
    text-decoration: none;
}
.article a:hover{
    color: rgb(0, 4, 7);
}
.navegacio{
        flex: 1 1 100%;
}
.aside{
    display: flex;
    background:rgb(218, 216, 216) ;
    margin-left: 10px;
}
.text-aside{
    margin: 10px;
    text-align: center;
    flex-direction: column;
}
.foot{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 4px;
    justify-content: center;
}
.peu1{
    background:rgb(218, 216, 216);
    flex-grow: 1;
}
.peu2{
    background-color: rgb(235, 235, 235);
    text-align: center;
    flex-grow: 90;
}
.peu3{
    background: rgb(218, 216, 216);
    flex-grow: 1;
}

@media  all and (max-width: 820px){
    .menu{
        flex-direction: column;
        flex-wrap: row;
        height: auto;
    }
    .logo{
        align-self: center;
        width: 20%;
    }
        .nav{
        display: flex;
        height: auto;
        width: 80%;
        align-self: center;
               
    }
    .social{
        align-self: center;
        margin-bottom: 80px;
        width: 50%;
    }
    .section{
        flex-direction:column; 
    }

    .aside{
      margin-left: 0px;
    }
    .separacio{
        padding: 0px;
    }
}
@media all and (max-width: 600px){
    .menu{
        align-content: center;
    }
    .separacio{
        padding: 0px;
    }
    .logo{
        align-self: center;
        width: 20%;
    }
        .nav{
        display: flex;
        height: auto;
        width: 80%;
        align-self: center;
               
    }
    .social{
        align-self: center;
        margin-bottom: 50px;
        width: 50%;
    }
    .articles{
        flex-direction: column;
    }
    .separacio{
        margin: 10px;
        justify-content: baseline;
    }
    .aside{
        margin-left: 0px;
      }
    .foot{
        margin-top: 0px;
    }
}

@keyframes animacio {
    from {top:200px;}
    to{top:0px; }
}

@keyframes textanimat{
    from {top:50px; color:rgb(255, 255, 255)}
    to{top:0px; color:rgb(236, 139, 47 , 0.6)} 
}

