
body
{
   background-color: rgb(7, 36, 61);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.contenidor
{
    display: grid;
    grid-template-columns: auto auto;
    color: white;
    gap: 20px;
    align-items: center;
    text-align: center;  
    background-color: rgb(7, 36, 61);

}
.caixa
{
   padding: 10px;
   margin: 10px;
   background-color: rgb(18, 51, 80);
   border-radius: 10px;
   box-shadow: 3px 6px 10px rgb(0, 8, 14);
}

button
{
    padding: 10px;
    border: none;   
    margin: 5px;
    color: white;
    background-color: rgb(35, 74, 108);
    box-shadow: 3px 4px  rgb(1, 7, 12);
    border-radius: 5px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

} 
button:hover
{
    box-shadow: 1px 2px 3px;
}
input
{
    width: 200px;
    height: 30px;
    background-color: goldenrod;
    color:rgb(78, 63, 26);
    border: solid  rgb(2, 29, 52);
    font-size: medium;
    box-shadow: 8px 10px;
    border-radius: 10px;
    margin: 10px;
}

.calcul
{
    color: white;
    font-size: x-large;
    border-radius: 20px;
}

@media (max-width: 50rem)
{
    .contenidor
    {
        grid-template-columns: 1fr;
    }
}
