body
{
    background-color: rgb(220, 234, 247)
   
}
#contenidor
{
    background-color: aliceblue;
    padding: 40px;
}
#loto-bolsa
{
    padding: 25px;
    margin: 20px;
    background-color: rgb(218, 228, 238);
    display: flex;
    justify-content:end;
    align-items: center;
}
#boto-loto-bolsa
{
    padding: 20px;
    font-size: large;
    border-radius: 10%;
    border: none;
    margin: 20px;
}
#Sorteig
{
    color: rgb(6, 6, 6);
    border-bottom: solid 1px;
    font-size: x-large;
    display: flex;
    justify-content: center;
}
.boto-seleccionat
{
    background-color: rgb(35, 147, 240);
    color: white;
    font-weight: bold;
}
#botons-periode
{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.boto-periodes:hover
{
   background-color: rgb(35, 147, 240);
   color: white;
}
.boto-periodes{
    padding: 2px;
    border: none;
}
#checks
{
    display: flex;
    justify-content: center;
}
#pronostics
{
    margin: 20px;
    display: flex;
    justify-content: center;
}
#boto-pronostic
{
    padding: 20px;
    width: 150px;
    border: none ;
}
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.contingut-modal {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  position: relative;
  border: 1px solid #a8bfd9;
  border-radius: 10px;
}

.tanca {
  color: #aaa;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  font-size: 28px;
  font-weight: bold;
}

.modalHtml
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tanca:hover,
.tanca:focus {
  color: #0b5ed7;
  text-decoration: none;
  cursor: pointer;
}