#ancla{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 50%;  
}
a{
    text-decoration: none;
    border: solid 1px gray;
    padding: 10px;
}