html,
body {
  height: 100%;
  margin: 2vh;
  padding: 0;
  background-color: rgb(250, 247, 247);
}

div {
  text-align: center;
  background-color: #f1f0f0;
  border: solid 4px rgb(250, 247, 247);
  min-height: 25vh; 
}


#text {
  flex: 1;
  display: flex;
  font-size: large;
  flex-direction: column-reverse;
  justify-content: left;
  height: max-content;
  background-color: #f1f0f0;

}

.boton {
  padding: 2vh;
  margin: 5px;
  color: #fff;
  border: 1px solid #a8bfd9;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.boton:hover {
  background-color: rgb(55, 149, 55);
  color: white;
}

.boton-seleccionado {
  color: white;
  background-color: rgb(55, 149, 55);
}

.info {
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: 10vh;
}
li
{
  margin: 20px;
}
