html,
body {
  height: 100%;
  padding: 0;
  margin: 2vh;
  background-color: #ffffff;
}

.grup {
  padding: 1vh;
  margin-bottom: 2vh;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.3);

}

.contenidorCapsalera {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenidorCapsalera > div {
  display: flex;
  align-items: center;
}

#text {
  padding: 1vh;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.3);
}

.boto {
  padding: 2vh;
  margin: 5px;
  color: #fff;
  border: 1px solid #a8bfd9;
  border-radius: 10px;
  color: black;
}

.boto:hover {
  background-color: #22BF14;
  color: white;
}

.boto-seleccionat {
  color: white;
  background-color: #22BF14;
}

.grup {
  text-align: center;
}

.imagte-ampliable {
  width: 10%;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.imagte-ampliable.ampliada {
  transform: scale(6.5);
  border-radius: 3%;
}

.manual-generix {
  padding: 2vh;
  border: 1px solid #a8bfd9;
  border-radius: 10px;
  color: black;
}

.manual-generix:hover {
  background-color: #c3c1c1;
  color: #ffffff;
}

@media (max-width: 600px) {
  /* Cambiar a column cuando el ancho de la pantalla es menor o igual a 600px */
  .contenidorCapsalera {
      flex-direction: column;
  }

  .contenidorCapsalera > div {
      margin-bottom: 10px; /* Añade un margen entre los divs apilados */
  }
}