html,
body {
  height: 100%;
  padding: 0;
  margin: 2vh;
}
 .ancora1
 {
  text-decoration: none;
  margin-right: 10px;
  color: #0b5ed7;
 }
 .ancora1:hover
 {
  color: #22BF14;
 }
 .ancora2
 {
  text-decoration: none;
  margin-left: 10px;
  color: #0b5ed7;
 }
 .ancora2:hover
 {
  color: #22BF14;
 }
.grup {
  padding: 1vh;
  margin-bottom: 2vh;
  background-color: #e2e2e2;
  border-radius: 10px;
}

.capsalera
{
  color:white;
  font-size: 2vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.contenidorCapsalera {
  position: relative;
  
}

.marc {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.fondo img {
  width: 150vw;
  height: 200%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.sobreposat {
  position: relative;
  z-index: 2; 
}



.contenidorCapsalera > div {
  display: flex;
  margin-bottom: 2vh;
  border-radius: 10px;
}

#text {
  padding: 1vh;
  background-color: #ffffff;
  border-radius: 10px;
}

.boto {
  padding: 10px 20px;
  margin: 5px;
  background-color:  #0b5ed7;
  border: 1px solid #a8bfd9;
  border-radius: 10px;
  color: white;
  box-shadow: 3px 5px 1px  #ff8c00; 

}
.boto-rodo {
  display: inline-block;
  margin-left: 6px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: white;
  border: 1px solid #a8bfd9;
  border-radius: 50%;
  cursor: pointer;
}

.boto:hover {
  background-color: #e3e5e3;
  color: rgb(4, 4, 4);
}

.boto-seleccionat {
  color: white;
  background-color: #22BF14;

}

.grup {
  text-align: center;
}

.imagte-ampliable {
  width: 10%;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.imagte-ampliable.ampliada {
  transform: scale(6.5);
  border-radius: 3%;
}

.manual-generix {
  padding: 2vh;
  border: 1px solid #a8bfd9;
  border-radius: 10px;
  color: black;
}

.manual-generix:hover {
  background-color: #c3c1c1;
  color: #ffffff;
}

@media (max-width: 600px) {
  .contenidorCapsalera {
      flex-direction: column;
  }

  .contenidorCapsalera > div {
      margin-bottom: 10px; 
  }
}