html,
body {
  height: 100%;
  padding: 0;
  margin: 2vh;
}
 .ancora1
 {
  text-decoration: none;
  margin-right: 10px;
  color: #0b5ed7;
 }
 .ancora1:hover
 {
  color: #e9f2e9;
 }
 .ancora2
 {
  text-decoration: none;
  margin-left: 10px;
  color: #0b5ed7;
 }
 .ancora2:hover
 {
  color: #bdc7bc;
 }
.grup {
  padding: 1vh;
  margin-bottom: 2vh;
  background-color: #e2e2e2;
  border-radius: 10px;
}

.contenidorCapsalera {
  position: relative;
}

.marc {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.fondo img {
  width: 100%;
  height:100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.sobreposat {
  text-align: center; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  width: 100%;
  position: relative;
  z-index: 2; 
  color:black;
  font-size: xx-large;
}




.contenidorCapsalera > div {
  display: flex;
  margin-bottom: 2vh;
  border-radius: 10px;
}

#text {
  padding: 1vh;
  background-color: #ffffff;
  border-radius: 10px;
}

.boto {
  padding: 10px 20px;
  margin: 5px;
  background-color:  #0b5ed7;
  border: 1px solid #0370ee;
  border-radius: 10px;
  color: white;
  /* box-shadow: 1px 2px 1px  #ff8c00;  */

}
.boto-rodo {
  display: inline-block;
  margin-left: 6px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: white;
  border: 1px solid #a8bfd9;
  border-radius: 50%;
  cursor: pointer;
}



.boto:hover {
  /* background-color: #e3e5e3; */
  border: 1px solid #5d5d5d;
  box-shadow: 5px 6px 10px  #414040; 
}

.boto-seleccionat {
 /* background-color: #e3e5e3; */
  border: 1px solid #5d5d5d;
  box-shadow: 5px 6px 10px  #414040; 
}

.grup {
  text-align: center;
}

.imagte-ampliable {
  width: 10%;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.imagte-ampliable.ampliada {
  transform: scale(6.5);
  border-radius: 3%;
}

.manual-generix {
  padding: 2vh;
  border: 1px solid #a8bfd9;
  border-radius: 10px;
  color: black;
}

.manual-generix:hover {
  background-color: #c3c1c1;
  color: #ffffff;
}
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}
a{
  text-decoration: none;
}
.close {
  color: #aaa;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@media (max-width: 600px) {
  .contenidorCapsalera {
      flex-direction: column;
  }

  .contenidorCapsalera > div {
      margin-bottom: 10px; 
  }
}