body
{
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.caixa
{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgb(192, 187, 187);
    width: 60%;
    justify-self:center;
}
.entrada
{
    width: 200px;
    height: 30px;
    background-color: rgb(254, 254, 254);
    color:rgb(78, 63, 26);
    border: none;
    font-size: medium;
    box-shadow: 1px 2px 1px 1px rgb(192, 187, 187);
    border-radius: 5px;
    margin: 10px;
}

.contenidor
{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}
.contenidorInfo {
    width: 100%;
}

.taulaDinamica {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed; 
}

.capsaleraTaula th {
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}

.taulaDinamica td {
    padding: 10px;
    border-bottom: 1px solid #b0aeae;
}
.mida ,.carrer
{
    width: 5%;
}
.quantitatPalet , .quantitaDemanada
{
    width: 10%;
}
.bloc {

    width: 20%;
}
.totalPalets
{
    width: 6%;
}

.codiArticle ,.totalPalets
{
    font-weight: 700;
    font-size: 20px;
}

.total
{
    font-size: large;
    justify-self: center;
    align-self: center;
    padding: 40px;
    font-size: x-large;
}
  
.creuTancar:hover
{
    cursor: pointer;
}

button
{
    padding: 10px;
    border: none;   
    margin: 5px;
    background-color: rgb(220, 230, 239);
    box-shadow: 1px 1px 2px rgb(183, 192, 199);
    border-radius: 5px;

} 
.creuTancar
{
    font-size:small;
}
button:hover
{
    box-shadow: none;
}

.caixa2
{
    font-size: x-large;
}
.btn-eliminar
{
    background-color: rgb(253, 68, 68);
    color: white;
}
.btn-eliminar:hover
{
    background-color: rgb(247, 182, 182) ;
}

#palets
{
    font-size: 2rem;
    padding: 2rem;
    border-radius: 10px;
}

@media print {
    .caixa ,.versio
    {
        display: none;
    }
    .btn-eliminar
    {
        display: none;
    }
    

    
} 
@media screen and (max-width: 768px) {
    .taulaDinamica th,
    .taulaDinamica td {
        font-size: smaller;
    }
}

