body
{
    align-content: center;
}

.contenidor
{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    align-items: center;
    text-align: center;  
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}
.caixa
{
   padding: 30px;
   margin: 30px;
   /* border-radius: 10px;
   box-shadow: 1px 3px 10px rgb(201, 201, 212); */
}
.caixa3
{
    font-size: 2rem;
    box-shadow: 1px 3px 10px rgb(201, 201, 212) ;
    border-radius: 10px;
}
button
{
    padding: 10px;
    border: none;   
    margin: 5px;
    background-color: rgb(220, 230, 239);
    box-shadow: 1px 1px  rgb(229, 233, 236);
    border-radius: 5px;

} 
button:hover
{
    box-shadow: 1px 2px;
}
input
{
    width: 200px;
    height: 30px;
    background-color: rgb(254, 254, 254);
    color:rgb(78, 63, 26);
    border: none;
    font-size: medium;
    box-shadow: 1px 1px 1px;
    border-radius: 5px;
    margin: 10px;
}
.caixa2
{
    font-size: x-large;
    
}


