.numeros-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 420px;
  margin-bottom: 10px;
}

.numero-btn {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #facc15;
  color: #020617;
  font-weight: bold;
  cursor: pointer;
}

.numero-btn.seleccionado {
  background-color: #22c55e;
  color: white;
}

.ball {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: lightgray;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

.ball.acierto {
  background: gold;
  color: black;
}





