.body {
    margin: 0;
    font-family: 'Hubballi', cursive;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 12vh 36vh 36vh 12vh;
  
}
#img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#temps {
    display: flex;
    grid-column: 1/1;
    font-size: x-large;
    text-align: center;
    align-items: center;
    margin-left: 50px;
}

#taca1 {
    grid-column: 3/3;
    grid-row: 2/2;
    background-repeat: no-repeat;
    background-image: url(../images/blobs/static-1.svg);
}

.form {
    grid-column: 2/3;
    grid-row: 1/5;
    justify-content: center;
    text-align: center;
}

h1 {
    margin-top: 25%;
    text-align: center;
    color: antiquewhite
}

p {
    max-width: 60%;
    margin-left: 15%;
    font-size: xx-large;
    color: bisque;

}

#app {
    margin-top: 10px;
    font-size: 20px;
    max-height: fit-content;
    align-self: center;
}

#botons {
    padding: 10px;
    align-self: center;
    border-style: none;
    border-radius: 50%;
}

.boto1 {
    margin-top: 20px;
    border-radius: 40px;
    border:#edc950;
    font-size: large;
    height: 50px;
    width: 200px;
    background-color: #FFC107;
    border: transparent;

}

.boto1:hover {
    transform: translateY(4px);

}

.btn {
    border-radius: 100%;
    border: transparent;
    background-color: transparent;

}

.btn:hover {
    transform: translateY(5px);
}

#taca2 {
    grid-column: 1/2;
    grid-row: 3/5;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-image: url(../images/blobs/static-2.svg );
    background-size: 100%;
}

@media screen and (max-width: 850px) {
    .container {
        display: grid;
        grid-template-columns: 4fr 90fr 4fr;
        background-image: url(../images/blobs/10.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200%;
        justify-content: center;
        text-align: center;
    }

    p {
        padding: 50px 10px;
        margin-top: 10%;
    }

    h1 {
        margin-top: 25%;
        color: black;
    }

    #temps {
        grid-column: 2/4;
        grid-row: 1/1;
    }

    #form {
        grid-column: 2/3;
        grid-row: 2/6;
        color: black;
    }

    #taca1 {
        background-image: none;
    }

    #taca2 {
        background-image: none;
    }

}